flows.json
[
    {
        "id": "68ddb2a442a17240",
        "type": "tab",
        "label": "SOLCELLE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0dd2c65ed5b2556f",
        "type": "mqtt in",
        "z": "68ddb2a442a17240",
        "name": "",
        "topic": "esp32/solarPanelValue",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 140,
        "wires": [
            [
                "311b292751742a28",
                "21c22c34436d7b67",
                "c5b829c68f0bef5d"
            ]
        ]
    },
    {
        "id": "21c22c34436d7b67",
        "type": "ui_text",
        "z": "68ddb2a442a17240",
        "group": "51bd87615957c844",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Effekt solceller (W): ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "311b292751742a28",
        "type": "debug",
        "z": "68ddb2a442a17240",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "c5b829c68f0bef5d",
        "type": "ui_chart",
        "z": "68ddb2a442a17240",
        "name": "",
        "group": "51bd87615957c844",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Effektverdi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f925e671206491f8",
        "type": "mqtt in",
        "z": "68ddb2a442a17240",
        "name": "",
        "topic": "esp32/solarPanelEnergy",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "e992f8d7304c2191"
            ]
        ]
    },
    {
        "id": "32043e3510efbda6",
        "type": "ui_form",
        "z": "68ddb2a442a17240",
        "name": "",
        "label": "Selg strøm",
        "group": "809e87adf6127e35",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Tast ønsket mengde å selge:",
                "value": "Salgssum",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Salgssum": ""
        },
        "payload": "",
        "submit": "Selg",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "e992f8d7304c2191"
            ]
        ]
    },
    {
        "id": "8d0ccdfdfa5867d2",
        "type": "debug",
        "z": "68ddb2a442a17240",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "15b2350eb4a71522",
        "type": "debug",
        "z": "68ddb2a442a17240",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "0c559aaff7560ab5",
        "type": "function",
        "z": "68ddb2a442a17240",
        "name": "Send pengesum videre",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "fcb673d71e11c235",
                "aada1ce4d8ca5f35"
            ]
        ]
    },
    {
        "id": "fcb673d71e11c235",
        "type": "ui_text",
        "z": "68ddb2a442a17240",
        "group": "809e87adf6127e35",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Penger sendt:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1040,
        "y": 380,
        "wires": []
    },
    {
        "id": "e1d849a7ad19bb46",
        "type": "mqtt out",
        "z": "68ddb2a442a17240",
        "name": "",
        "topic": "esp32/solarMoneytoZumo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1270,
        "y": 420,
        "wires": []
    },
    {
        "id": "aada1ce4d8ca5f35",
        "type": "trigger",
        "z": "68ddb2a442a17240",
        "name": "",
        "op1": "",
        "op2": "off8",
        "op1type": "pay",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "e1d849a7ad19bb46"
            ]
        ]
    },
    {
        "id": "c1d106ab9d617c54",
        "type": "ui_text",
        "z": "68ddb2a442a17240",
        "group": "809e87adf6127e35",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Strøm tilgjengelig for salg (kWh):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c26ec7a87e85196",
        "type": "ui_gauge",
        "z": "68ddb2a442a17240",
        "name": "",
        "group": "51bd87615957c844",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Solcellebatteri",
        "label": "kWh",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#b31b00",
            "#e6e600",
            "#3acb3c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "e992f8d7304c2191",
        "type": "function",
        "z": "68ddb2a442a17240",
        "name": "Lagrer variabler",
        "func": "var powerToSell;    //Kommer fra knappen \"Selg strøm\", bestemmer hvor mye som skal selges\nvar moneyReceived;  //Penger man mottar fra salget, og sendes til Zumo\nvar solarBattery = flow.get(\"solarBattery\") || 0  //definerer en variabel som er tilgjengelig i hele flowen\n\nif(msg.topic === \"esp32/solarPanelEnergy\") {     //utføres hvis data kommer fra solceller\n    var powerReceived = (parseInt(msg.payload)/360); //Kommer fra solcelleanlegget\n    solarBattery = solarBattery + powerReceived; //fyller på \"batteriet\" i Node-RED\n    flow.set(\"solarBattery\", solarBattery);      //sender ny verdi som lagres i en variabel tilgjengelig i hele flowen\n}\n\nif(msg.payload.Salgssum) {   //hvis strøm blir solgt\n    powerToSell = msg.payload.Salgssum;   //setter inngangsverdi til en variabel\n    solarBattery = solarBattery - powerToSell;   //Regner ut total\n    flow.set(\"solarbattery\", solarBattery);    //oppdaterer variabelen i flowet\n    moneyReceived = {payload: powerToSell};    //lagrer en verdi for penger man mottar fra salget\n    return[null, moneyReceived];         //returnerer moneyReceived på output 2\n}\n\nif(solarBattery >= 50) {  //Setter en maksverdi på batteriet i Node-RED\n    flow.set(\"solarBattery\", 50)  //oppdaterer variabelen i flowet\n    solarBattery = 50;  //oppdaterer variabelen lokalt\n}\n\nmoneyReceived = 0; //setter moneyReceived til 0 etter at det er sendt til Zumoen\nvar displayMoney = {payload: parseInt(parseFloat(solarBattery).toFixed(0))}; //lager en variabel som viser mengden man har tilgjengelig på batteriet\n\nreturn[displayMoney, null]; //returnerer verdien på batteriet og sender ut på output 1",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "c1d106ab9d617c54",
                "8d0ccdfdfa5867d2"
            ],
            [
                "15b2350eb4a71522",
                "0c559aaff7560ab5",
                "3c26ec7a87e85196"
            ]
        ]
    },
    {
        "id": "8567d5d32f777f37",
        "type": "comment",
        "z": "68ddb2a442a17240",
        "name": "Får inn effektverdi fra solcellene og vises i dashbord",
        "info": "",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "22cc02e729ed2fe7",
        "type": "comment",
        "z": "68ddb2a442a17240",
        "name": "Velger verdi som skal selges",
        "info": "",
        "x": 260,
        "y": 460,
        "wires": []
    },
    {
        "id": "d9292ea0304e2e61",
        "type": "comment",
        "z": "68ddb2a442a17240",
        "name": "Lagrer variabler og regner ut penger tjent, verdi man har igjen, og sender på to forskjellige outputs",
        "info": "",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "2b1f82543d717c38",
        "type": "comment",
        "z": "68ddb2a442a17240",
        "name": "Simulert batteri som lagrer produsert strøm",
        "info": "",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "39456676c301d634",
        "type": "comment",
        "z": "68ddb2a442a17240",
        "name": "Viser tallverdi og og grafisk verdi",
        "info": "",
        "x": 1110,
        "y": 300,
        "wires": []
    },
    {
        "id": "32f8016a018bfa50",
        "type": "comment",
        "z": "68ddb2a442a17240",
        "name": "Viser hvor mye penger som blir sendt til Zumo32U4",
        "info": "",
        "x": 1350,
        "y": 380,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "esp32",
        "broker": "gruppe26.kicks-ass.net",
        "port": "1883",
        "clientid": "espClient",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "51bd87615957c844",
        "type": "ui_group",
        "name": "SOLCELLE",
        "tab": "52cff69bd0b498e6",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "809e87adf6127e35",
        "type": "ui_group",
        "name": "KONTO",
        "tab": "52cff69bd0b498e6",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "52cff69bd0b498e6",
        "type": "ui_tab",
        "name": "DASHBOARD",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]